@model HSVHousing.Models.ListingFormViewModel

@{
    ViewBag.Title = "Chỉnh sửa Tin đăng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="create-listing-form-card">
        <h2 class="text-center mb-4">@ViewBag.Title</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ListingID)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @* Form tương tự như CreateListing.cshtml *@
            <div class="mb-3">
                @Html.LabelFor(model => model.Title, new { @class = "form-label" })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            @* Các trường input khác tương tự CreateListing *@

            <div class="text-center mt-4">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary-cta btn-lg" />
                @Html.ActionLink("Hủy", "MyListings", null, new { @class = "btn btn-secondary-cta btn-lg ms-3" })
            </div>
        }
    </div>
</div>